@import "tailwindcss";

:root {
  --sizeBorda: 0%;
  --accentColor: #b2f10c;
  --lightColor: #f2eed9;
  --bgDrkColor: #26251f;
  --baseColor: #fcfff8;
}

body {
  background: #f2f2f2;
}

h1 {
  font-family: var(--font-nohemi);
  font-size: clamp(3.2rem, 5vw, 4.9rem);
  line-height: 1.05;
}

h2 {
  font-family: var(--font-nohemi);
  font-size: clamp(2.6rem, 4vw, 3.9rem);
  line-height: 1.1;
}

h3 {
  font-family: var(--font-nohemi);
  font-weight: 500;
  font-size: clamp(2rem, 3.2vw, 2.2rem);
  line-height: 1.15;
}

h4 {
  font-family: var(--font-nohemi);
  letter-spacing: 0.1rem;
  line-height: 1.3;
  font-size: clamp(1.2rem, 3.2vw, 2rem);
}

p {
  font-family: var(--font-work-sans), system-ui, sans-serif;
  font-size: clamp(1rem, 1.1vw, 1.125rem);
  line-height: 1.6;
}

.tagline {
  font-family: var(--font-nohemi);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.16em;
}

.nutriGradient {
  background: #071c00;
  background: linear-gradient(
    90deg,
    rgba(7, 28, 0, 1) 20%,
    rgba(7, 28, 0, 0) 120%
  );
}

.destaqueV,
.destaqueC {
  position: relative;
  z-index: 10;
}
.destaqueV::after,
.destaqueC::after {
  content: "";
  position: absolute;
  height: 45px;
  width: 97%;

  background: #b2f10c;
  left: 0px;
  top: -5px;
  z-index: -10;
}

@media (width >= 40rem) {
  .destaqueV,
  .destaqueC {
    position: relative;
    z-index: 10;
  }
  .destaqueV::after,
  .destaqueC::after {
    content: "";
    position: absolute;
    height: 75px;
    width: 100%;
    background: #b2f10c;
    left: -10px;
    top: -5px;
    z-index: -10;
  }
}
