@import "tailwindcss";

:root {
  --sizeBorda: 0%;
  --accentColor: #b2f10c;
  --lightColor: #f2eed9;
  --bgDrkColor: #26251f;
  --baseColor: #fcfff8;
}

/* h1,
h2 {
  font-family: var(--font-nohemi);
  font-weight: 600;
} */

body {
  background: #f2f2f2;
}

h1 {
  font-family: var(--font-nohemi);
  font-size: 3.9rem;
  letter-spacing: 0.05rem;
}

h2 {
  font-family: var(--font-nohemi);
  font-size: 3.9rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  line-height: 4rem;
}

p {
  font-family: var(--font-work-sans), system-ui, sans-serif;
  font-size: 1.2rem;
}

.nutriGradient {
  background: #071c00;
  background: linear-gradient(
    90deg,
    rgba(7, 28, 0, 1) 20%,
    rgba(7, 28, 0, 0) 120%
  );
}
