@import "tailwindcss";

:root {
  --sizeBorda: 0%;
  --accentColor: #b2f10c;
  --lightColor: #f2eed9;
  --bgDrkColor: #26251f;
  --baseColor: #fcfff8;
}

/* h1,
h2 {
  font-family: var(--font-nohemi);
  font-weight: 600;
} */

body {
  background: #f2f2f2;
}

h1 {
  font-family: var(--font-nohemi);
  font-size: 3.4rem;
  line-height: 4rem;
  letter-spacing: 0.05rem;
}

h2 {
  font-family: var(--font-nohemi);
  font-size: 3.9rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  line-height: 4rem;
}

@media (width >= 40rem) {
  h1 {
    font-family: var(--font-nohemi);
    font-size: 4.9rem;
    line-height: 4.7rem;
    letter-spacing: 0.05rem;
  }

  .destaqueV,
  .destaqueC {
    position: relative;
    z-index: 10;
  }
  .destaqueV::after,
  .destaqueC::after {
    content: "";
    position: absolute;
    height: 75px;
    width: 510px;
    background: #b2f10c;
    left: -10px;
    top: -5px;
    z-index: -10;
  }

  .destaqueC::after {
    width: 510px;
  }
}

h3 {
  font-family: var(--font-nohemi);
  font-weight: 500;
}

p {
  font-family: var(--font-work-sans), system-ui, sans-serif;
  font-size: 1.2rem;
}

.tagline {
  font-family: var(--font-nohemi);
}

.nutriGradient {
  background: #071c00;
  background: linear-gradient(
    90deg,
    rgba(7, 28, 0, 1) 20%,
    rgba(7, 28, 0, 0) 120%
  );
}

.destaqueV,
.destaqueC {
  position: relative;
  z-index: 10;
}
.destaqueV::after,
.destaqueC::after {
  content: "";
  position: absolute;
  height: 75px;
  width: 500px;
  max-width: 140px;
  background: #b2f10c;
  left: -10px;
  top: -5px;
  z-index: -10;
}

.destaqueC::after {
  max-width: 355px;
}
